<section>
  <nav class="navbar navbar-expand navbar-light bg-primary">
    <div class="nav navbar-nav">
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Net Worth</h4>
            <ngx-charts-bar-vertical
              [view]="[1200,500]"
              [results]= "networthResponseData"
              [xAxisLabel]="'Date'"
              [yAxisLabel]="'NetWorth value in $C'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
