<section>
  <nav class="navbar navbar-expand navbar-light bg-primary">
    <div class="nav navbar-nav">
      <h5 class="nav-item nav-link active text-white">NGX-CHARTS DASHBOARD </h5>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Vertical Bar Charts</h4>
            <ngx-charts-bar-vertical
              [view]="[500,200]"
              [results]= saleData
              [xAxisLabel]="'Date'"
              [legendTitle]="'Networth Chart'"
              [yAxisLabel]="'Networth in $C'"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside>
    <h3>Current Stock Codes</h3>
    <ul>
      <li *ngFor='let item of codes'>{{item.code}}</li>
    </ul>
  </aside>
  <form>
    <label for="code-typeahead">Enter a Stock Code</label>
    <input placeholder='Stock Code' id="code-typeahead" type="text" class="form-control" [(ngModel)]='newStockCode' name='newStockCode' max="6" min = "1"/>
    <label for="price-typeahead">Enter a Stock Code</label>
    <input placeholder='Stock Price' id="price-typeahead" type="text" class="form-control" [(ngModel)]='newStockPrice' name='newStockPrice' min = "0.01"/>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" (click)='addNewStock()'> Add New Stock
      </label>
    </div>
  </form>
  <h3>Net Worth {{total |currency:'C$'}}</h3>
  <p>Here are the assets that make up the net worth</p>
  <!-- [] injects values into a component (one-way binding into component) -->
  <app-asset-view
    *ngFor="let item of codes"
    [code]='item.code'
    [price]='item.price'
    (buy)='handleBuy($event)'
    (sell)='handleSell($event)'
    (reset)='handleReset()'
    (remove)='handleRemove($event)'>
  </app-asset-view>

</section>
