  ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
  }
  li {
    list-style: none;
  }
  h6 {
    display: inline-block;
    vertical-align: top;
  }
  a {
    text-decoration: underline;
  }
  table {
    width:auto;
  }
  td {
    white-space:nowrap;
  }
  th:last-child{
    text-align: right;
  }
  td:last-child {
    width:100%;
    text-align: right;
  }
  