<button type="button" class="btn btn-primary" (click)="openTransactionModal(transactionManager)" >
    Transaction Manager
</button>
<hr/>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">Cash Accounts</th>
      <th scope="col">{{ cashTotal |currency:'C$'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cash of cashResponseData">
        <td> <a href="javascript:void(0);" (click)="openDetailsModal(cashContent, cash.accountNumber, 0)">{{ cash.financialInstitution }} {{ cash.accountNumber }}</a></td>
        <td>{{ cash.balance |currency:'C$'}}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">Stocks</th>
      <th scope="col">{{ stockTotal |currency:'C$'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stockResponseData">
        <td> <a href="javascript:void(0);" (click)="openDetailsModal(investmentContentStocksETF, stock.symbol, 1)">{{ stock.name }}</a></td>
        <td>{{ stock.totalValue |currency:'C$'}}</td>
    </tr>
    </tbody>
</table>


<table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">Exchange Traded Funds</th>
      <th scope="col">{{ etfTotal |currency:'C$'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let etf of etfResponseData">
        <td> <a href="javascript:void(0);" (click)="openDetailsModal(investmentContentStocksETF, etf.symbol, 2)">{{ etf.name }}</a></td>
        <td>{{ etf.totalValue |currency:'C$'}}</td>
    </tr>
    </tbody>
</table>


<table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">Bonds</th>
      <th scope="col">{{ bondTotal |currency:'C$'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bond of bondResponseData">
        <td> <a href="javascript:void(0);" (click)="openDetailsModal(investmentContentBonds, bond.name, 3)">{{ bond.name }}</a></td>
        <td>{{ bond.totalValue |currency:'C$'}}</td>
    </tr>
    </tbody>
</table>

<ng-template #investmentContentStocksETF let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ currentModalTitle }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isStockETFLegendCollapsed"
                aria-controls="collapseExample">
                Legend
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isStockETFLegendCollapsed">
            <div class="card">
                <div class="card-body">
                    Transaction Type:
                    <ul>
                        <li>0 - Buy</li>
                        <li>1 - Sell</li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Transaction Time</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Quantity Affected</th>
              <th scope="col">Total Quantity</th>
              <th scope="col">Market Value</th>
              <th scope="col">Total Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of stockETFModalResponseData">
                <td>{{ item.dateTime |date:'yyyy-mm-dd hh:mm:ss'}}</td>
                <td>{{ item.transactionType }}</td>
                <td>{{ item.quantityAffected }}</td>
                <td>{{ item.totalQuantity }}</td>
                <td>{{ item.marketValue |currency:'C$'}}</td>
                <td>{{ item.totalValue |currency:'C$'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #cashContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ currentModalTitle }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCashLegendCollapsed"
                aria-controls="collapseExample">
                Legend
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCashLegendCollapsed">
            <div class="card">
                <div class="card-body">
                    <h6>Account Type:</h6>
                    <ul>
                        <li>1 - Chequing</li>
                        <li>2 - Savings</li>
                        <li>3 - Cash Management</li>
                        <li>4 - Broker</li>
                    </ul>
                    <h6>Transaction Type:</h6>
                    <ul>
                        <li>0 - Deposit</li>
                        <li>1 - Withdrawal</li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Transaction Time</th>
              <th scope="col">Financial Institution</th>
              <th scope="col">Account Number</th>
              <th scope="col">Account Type</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Transaction Amount</th>
              <th scope="col">Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cash of cashModalResponseData">
                <td>{{ cash.dateTime |date:'yyyy-mm-dd hh:mm:ss'}}</td>
                <td>{{ cash.financialInstitution }}</td>
                <td>{{ cash.accountNumber }}</td>
                <td>{{ cash.accountType }}</td>
                <td>{{ cash.transactionType }}</td>
                <td>{{ cash.transactionAmount |currency:'C$'}}</td>
                <td>{{ cash.balance |currency:'C$'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #investmentContentBonds let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ currentModalTitle }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isBondLegendCollapsed"
                aria-controls="collapseExample">
                Legend
            </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isBondLegendCollapsed">
            <div class="card">
                <div class="card-body">
                    <h6>Transaction Type:</h6>
                    <ul>
                        <li>0 - Buy</li>
                        <li>1 - Sell</li>
                        <li>2 - Coupon Paid</li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Transaction Time</th>
              <th scope="col">Issuer</th>
              <th scope="col">Name</th>
              <th scope="col">Bond Type</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Face Value</th>
              <th scope="col">Maturity</th>
              <th scope="col">Coupon Rate</th>
              <th scope="col">Total Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bond of bondModalResponseData">
                <td>{{ bond.dateTime |date:'yyyy-mm-dd hh:mm:ss'}}</td>
                <td>{{ bond.issuer }}</td>
                <td>{{ bond.name }}</td>
                <td>{{ bond.bondType }}</td>
                <td>{{ bond.transactionType }}</td>
                <td>{{ bond.faceValue |currency:'C$'}}</td>
                <td>{{ bond.maturity |date:'yyyy-mm-dd hh:mm:ss'}}</td>
                <td>{{ bond.couponRate }}</td>
                <td>{{ bond.totalValue }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #transactionManager let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Transaction Manager</h4>
      <button type="button" class="close btn-warning" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <button class="btn btn-md btn-outline-primary" (click)="types.toggle('cash')">Cash Accounts</button>
        <button class="btn btn-md btn-outline-primary" (click)="types.toggle('stocks')">Stocks</button>
        <button class="btn btn-md btn-outline-primary" (click)="types.toggle('etfs')">Exchange Traded Funds</button>
        <button class="btn btn-md btn-outline-primary" (click)="types.toggle('bonds')">Bonds</button>
        <hr/>
        <ngb-accordion #types="ngbAccordion" [closeOthers]="true" activeIds="cash">
            <ngb-panel id="cash" title="Cash Accounts">
              <ng-template ngbPanelContent>
                <form>
                    <input id="accountNumber" type="number" [(ngModel)]='cashParamObj.accountNumber' name="accountNumber" placeholder="Account Number" class="form-control" ng-required="true">
                    <label for="accountNumber">Account Number</label>
                    <input id="financialInstitution" type="text" [(ngModel)]='cashParamObj.financialInstitution' name="financialInstitution" placeholder="Financial Institution" class="form-control" ng-required="true">
                    <label for="financialInstitution">Financial Institution</label>
                    <select id="accountType" class="form-control" data-toggle="dropdown" name="accountType" [(ngModel)]='cashParamObj.accountType'>
                        <option value="1">Chequing Account</option>
                        <option value="2">Savings Account</option>
                        <option value="3">Cash Management Account</option>
                        <option value="4">Brokerage Account</option>
                    </select>
                    <label for="accountType">Account Type</label>
                    <input id="transactionAmount" type="number" [(ngModel)]='cashParamObj.transactionAmount' name="transactionAmount" placeholder="Transaction Amount" class="form-control" ng-required="true">
                    <label for="transactionAmount">Transaction Amount</label>
                    <br/>
                    <button type="button" class="btn btn-dark btn-md float-left" style="font-weight:bold;" (click)="saveTransactionModal(0, true)">Deposit</button>
                    <button type="button" class="btn btn-dark btn-md float-right" style="font-weight:bold;" (click)="saveTransactionModal(0, false)">Withdraw</button>
                    <br/>
                    <br/>
                </form>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="stocks" title="Stocks">
              <ng-template ngbPanelContent>
                <form>
                    <input id="symbol" name="symbol" type="text" [(ngModel)]='stockParamObj.symbol' placeholder="Stock Symbol" class="form-control" ng-required="true">
                    <label for="symbol">Stock Symbol</label>
                    <input id="name" name="name" type="text" [(ngModel)]='stockParamObj.name' placeholder="Stock Name" class="form-control" ng-required="true">
                    <label for="name">Stock Name</label>
                    <input id="quantity" name="quantity" type="number" [(ngModel)]='stockParamObj.quantityAffected' placeholder="Stock Quantity" class="form-control" ng-required="true">
                    <label for="quantity">Stock Quantity</label>
                    <input id="marketValue" name="marketValue" type="number" [(ngModel)]='stockParamObj.marketValue' placeholder="Stock Market Value" class="form-control" ng-required="true">
                    <label for="marketValue">Stock Market Value</label>
                    <br/>
                    <button type="button" class="btn btn-dark btn-md float-left" style="font-weight:bold;" (click)="saveTransactionModal(1, true)">Buy</button>
                    <button type="button" class="btn btn-dark btn-md float-right" style="font-weight:bold;" (click)="saveTransactionModal(1, false)">Sell</button>
                    <br/>
                    <br/>
                </form>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="etfs" title="Exchange Traded Funds">
                <ng-template ngbPanelContent>
                    <form>
                        <input id="symbol" name="symbol" type="text" [(ngModel)]='etfParamObj.symbol' placeholder="ETF Symbol" class="form-control" ng-required="true">
                        <label for="symbol">ETF Symbol</label>
                        <input id="name" name="name" type="text" [(ngModel)]='etfParamObj.name' placeholder="ETF Name" class="form-control" ng-required="true">
                        <label for="name">ETF Name</label>
                        <input id="quantity" name="quantity" type="number" [(ngModel)]='etfParamObj.quantityAffected' placeholder="ETF Quantity" class="form-control" ng-required="true">
                        <label for="quantity">ETF Quantity</label>
                        <input id="marketValue" name="marketValue" type="number" [(ngModel)]='etfParamObj.marketValue' placeholder="ETF Market Value" class="form-control" ng-required="true">
                        <label for="marketValue">ETF Market Value</label>
                        <br/>
                        <button type="button" class="btn btn-dark btn-md float-left" style="font-weight:bold;" (click)="saveTransactionModal(2, true)">Buy</button>
                        <button type="button" class="btn btn-dark btn-md float-right" style="font-weight:bold;" (click)="saveTransactionModal(2, false)">Sell</button>
                        <br/>
                        <br/>
                    </form>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="bonds" title="Bonds">
                <ng-template ngbPanelContent>
                    <form>
                        <input id="issuer" name="issuer" type="text" [(ngModel)]='bondParamObj.issuer' placeholder="Bond Issuer" class="form-control" ng-required="true">
                        <label for="issuer">Bond Issuer</label>
                        <input id="name" name="name" type="text" [(ngModel)]='bondParamObj.name' placeholder="Bond Name" class="form-control" ng-required="true">
                        <label for="name">Bond Name</label>
                        <select id="bondType" name="bondType" class="form-control" data-toggle="dropdown" name="bondType" [(ngModel)]='bondParamObj.bondType'>
                            <option value="Fixed-rate bonds">Fixed-Rate</option>
                        </select>
                        <label for="name">Bond Type</label>
                        <input id="faceValue" name="faceValue" type="number" [(ngModel)]='bondParamObj.faceValue' placeholder="Bond Face Value" class="form-control" ng-required="true">
                        <label for="faceValue">Bond Face Value</label>
                        <input id="couponRate" name="couponRate" type="number" [(ngModel)]='bondParamObj.couponRate' placeholder="Bond Coupon Rate" class="form-control" ng-required="true">
                        <label for="couponRate">Bond Coupon Rate</label>
                        <!-- <input id="maturity" name="maturity" type="text" [(ngModel)]='bondParamObj.maturity' placeholder="Bond Maturity"/> -->
                        <form class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" [(ngModel)]='bondParamObj.maturity' ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                              </div>
                            </div>
                          </form>
                        <br/>
                        <button type="button" class="btn btn-dark btn-md float-left" style="font-weight:bold;" (click)="saveTransactionModal(3, true)">Buy</button>
                        <button type="button" class="btn btn-dark btn-md float-right" style="font-weight:bold;" (click)="saveTransactionModal(3, false)">Sell</button>
                        <br/>
                        <br/>
                    </form>
                </ng-template>
              </ngb-panel>
          </ngb-accordion>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>