<section>
    <!-- <h3>Net Worth C${{myNetWorth[2] | currency:'C$'}}</h3> -->
    <h3>Net Worth C${{myNetWorth[2]}}</h3>

    <p>Here are the assets that make up the net worth</p>
    <!-- [] injects values into a component (one-way binding into component) -->
    <!-- 
    <app-asset-view
    *ngFor="let item of codes"
    [code]='item.code'
    [price]='item.price'
    (buy)='handleBuy($event)'
    (sell)='handleSell($event)'
    (reset)='handleReset()'
    (remove)='handleRemove($event)'>
  </app-asset-view>
  -->
</section>
<section>
  <h3>Cash Flow is C${{totalCashFlow}}</h3>
</section>

<section>
  <h4>Income</h4>
  <h5>C${{totalIncome[0]}}</h5>
</section>

<section>
    <h4>Expenses</h4>
    <h5>C${{totalExpenses[0]}}</h5>
</section>
