<section>
    <!-- <h3>Net Worth C${{myNetWorth[2] | currency:'C$'}}</h3> -->
    <h3>Net Worth {{myNetWorth[2] |currency:'C$'}}</h3>

</section>
<section>
  <h3>Cash Flow is {{totalCashFlow |currency:'C$'}}</h3>
</section>

<section>
  <h3>Income</h3>
  <br/>
  <br/>
<ngx-charts-advanced-pie-chart 
      [results]="incomeSeries"
      [gradient]="true"
      [valueFormatting]="addCurrencySymbol" >
</ngx-charts-advanced-pie-chart>
</section>

<section>
    <h3>Expenses</h3>
    <br/>
    <br/>
<ngx-charts-advanced-pie-chart 
      [results]="expenseSeries"
      [gradient]="true" 
      [valueFormatting]="addCurrencySymbol" >
</ngx-charts-advanced-pie-chart>

</section>