<section>
    <!-- <h3>Net Worth C${{myNetWorth[2] | currency:'C$'}}</h3> -->
    <div class="row">
        <div class="col">
            <h4>Net Worth {{myNetWorth[2] |currency:'C$'}}</h4>
        </div>
        <div class="col">
            <h4>Cash Flow is {{totalCashFlow |currency:'C$'}}</h4>
        </div>
    </div>
</section>

<section>
  <h3>Income</h3>
  <br/>
  <ngx-charts-advanced-pie-chart 
        [results]="incomeData"
        [gradient]="true" 
        [valueFormatting]="addCurrencySymbol">
</ngx-charts-advanced-pie-chart>
</section>

<section>
    <h3>Expenses</h3>
    <br/>
<ngx-charts-advanced-pie-chart 
      [results]="expenseData"
      [gradient]="true" 
      [valueFormatting]="addCurrencySymbol" >
</ngx-charts-advanced-pie-chart>

</section>