<!-- here we write our own component template -->
<article>
  <nav>
    <!-- links go here -->
    <!-- <a routerLink='/cash-flow'>Cash Flow</a> |
    <a routerLink='/market-movers'>Market Movers</a> |
    <a routerLink='/net-worth'>Net Worth</a> |
    <a routerLink='/insights'>Insights</a> -->

    <!--
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/market-movers">Market Movers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/net-worth">Net Worth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/summary">Summary</a>
      </li>
    </ul>
  -->
  </nav>
  <h1>Portfolio Manager</h1>
  <br/>
  <ng-container *ngIf='askCookieConsent'>
    <ngb-alert [dismissible]="false" type="info">This site uses cookies, is that ok?
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn btn-md btn-outline-primary">
          <input ngbButton  type="radio" (click)='agreeCookie()' > Agree
        </label>
      </div>
    </ngb-alert>
  </ng-container>

  <div class="row">
    <div class="col">
      <app-summary></app-summary>
    </div>
    <!-- try -md-auto when the charts are there-->
    <div class="col-6">
        <app-investment2></app-investment2>
    </div>
    <div class="col">
      <app-market-movers></app-market-movers>
    </div>
  </div>




  <!-- here we can bind to the daa models -->
  <!-- the | is 'pipe' in this case for date -->
  <!-- the {{}} are called interpolation binding -->
  <!-- <hr/>
  <form>
    <input placeholder='Facebook image' [(ngModel)]='fbImage' name='fbImage' required/>
    <br/>
    <img src='https://graph.facebook.com/{{fbImage}}/picture?type=normal'>
  </form>
  <hr/> -->
  <!-- here is where routed content will appear it is mutually exclusive content-->
  <router-outlet></router-outlet>
    <!-- ask the user to agree to cookies -->
  <!-- the () are one-way event binding OUT of the component -->
  <!-- structural directives AWLAYS start with an asterisk * -->
</article>
