<form>
  <input placeholder='Number of Days' id="period" type="text" class="form-control" [(ngModel)]='periodParamObj' name='period' min = "1"/>
  <label for="period">Analysis Period in Days</label>
  <br/>
  <hr/>
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" (click)='makeMarketMoversByPeriodCall()'> Refresh
    </label>
  </div>
</form>
<table class="table table-striped table-responsive" >
  <thead>
  <tr>
    <th scope="col">Symbols</th>
    <th scope="col">Gainers & Losers</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mover of this.response | keyvalue">
    <td >
        {{mover.value}}

    </td>
    <td>
        {{mover.key }}%
    </td>
  </tr>
  </tbody>
</table>
